body{
    background-color: lightcyan;
    background-image: url("back1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 0.8

}

#wrapper {
    width: 1065px;
    height: 630px;
    border: 3px solid #424242;
    border-radius: 15px;
    padding: 10px;
    opacity: 1.0;
    margin:  auto;
}

main {
    background-color: azure;
}

header{
  background-image: url("back2.jpg");
  background-size: 100% auto;
  height: 50px
}

#title {
    
    
    background-size: 100% auto;
    text-align: center;
    color: brown;
    padding: 0px 0px 0px 0px;
    padding-top: 8px;
    margin-top: 10px;
}



canvas{
  
  position: absolute;
  border: 1px solid black;
}


#player-canvas{
  background-color: azure;
}


#show-winner{
  display: none;
  position: absolute;
  top: 260px;
  left: 432px;
}

img{
  width: 100px;
  height: 100px;
}

aside{
  background-color: azure;
  opacity: 0.9;
}

#score {
  border: 3px solid #424242;
  border-radius: 15px;
  position: fixed;
  top: 10px;
  right: 15px;
  width: 120px;
  height: 110px;
  padding-left: 10px;
}

#score #score-table{
  padding: 0;
  list-style-type: none;
  background-color: azure;
  opacity: 0.9;
}

#score #score-table li{
  margin-bottom: 10px;
}

#timer {
  border: 3px solid #424242;
  border-radius: 15px;
  position: fixed;
  top: 130px;
  right: 15px;
  width: 120px;
  height: 60px;
  padding-left: 10px;
}

#restart-game{
  position: absolute;
  top: 150px;
  left: 50px;
  border: 3px solid #424242;
  border-radius: 15px;
  padding: 10px;
  margin-left: 80px;
}