body{
  background-color: lightcyan;

}

#wrapper {
  width: 1065px;
    height: 630px;
    border: 3px solid #424242;
    border-radius: 15px;
    padding: 10px;
}

#title {
    background-color: #809080;
    text-align: center;
    color: brown;
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
}

canvas{
  position: absolute;
  border: 1px solid black;
}

#show-winner{
  display: none;
  position: absolute;
  top: 260px;
  left: 432px;
}

img{
  width: 100px;
  height: 100px;
}

#score {
  border: 3px solid #424242;
  border-radius: 15px;
  position: fixed;
  top: 10px;
  right: 15px;
  width: 120px;
  height: 110px;
  padding-left: 10px;
}

#score #score-table{
  padding: 0;
  list-style-type: none;
}

#score #score-table li{
  margin-bottom: 10px;
}

#timer {
  border: 3px solid #424242;
  border-radius: 15px;
  position: fixed;
  top: 130px;
  right: 15px;
  width: 120px;
  height: 60px;
  padding-left: 10px;
}